<div class="container">
  <div class="abs-center">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="Add()" [formGroup]="form">
          <div class="card-body">
            <h1>Movimiento</h1>
            <div *ngIf="deposito; else texto" class="card-body">
              <p>Si desea realizar un <strong>Deposito</strong> de su saldo, presione el boton de "DEPOSITO / RETIRO"</p>
            </div>
            <ng-template #texto>
              <div class="card-body">
                <p>Si desea realizar un <strong>Retiro</strong> de su saldo, presione el boton de "DEPOSITO / RETIRO"</p>
              </div>
            </ng-template>
            <a class="btn btn-outline-dark btn-sm" (click)="deposito=!deposito">Deposito / Retiro</a>
          </div>


          <!-- Retiro -->
          <div *ngIf="deposito; else retiro" class="card-body">
            <h5><label for="Retiro">Retiro</label></h5>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input id="Retiro" type="number" formControlName="cantidadRetiro" [(ngModel)]="usuarioCajero.cantidadRetiro" placeholder="Retiro:"
                     class="form-control" maxlength="5">
              <span class="input-group-text">.00</span>
            </div>
          </div>

          <!-- Deposito -->
          <ng-template #retiro>
            <div class="card-body">
              <h5><label for="Deposito">Deposito</label></h5>
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input id="Deposito" type="number" formControlName="cantidadDeposito" [(ngModel)]="usuarioCajero.cantidadDeposito" placeholder="Retiro:"
                       class="form-control" maxlength="5">
                <span class="input-group-text">.00</span>
              </div>


            </div>
          </ng-template>

          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Aceptar</button>
            <button routerLink="/detalles" type="button" class="btn btn-primary">Regresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
