<div class="container">
  <div class="abs-center">
    <div class="card text-center">
      <div class="card-header">
        Usuario
      </div>
      <div class="card-body">
        <h5 class="card-title">Actualmente cuenta con un saldo de :</h5>
        <p class="card-text">Puede consultar los movimientos que ha realizado, asi como realizar un deposito o retirar de su cuenta. Seleccione una opcion.</p>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a routerLink="/detalles" class="btn btn-success btn-sm">Detalles de Cuenta</a>

          <a routerLink="/movimientos" class="btn btn-warning btn-sm">Retirar o Depositar</a>
        </div>
      </div>
      <div class="card-footer text-muted">
        Saldo: 
      </div>
    </div>
  </div>
</div>
